

#exampleForm{
	height:850px;
	width:600px;
	margin: auto;	
}

.col{
	height:850px;
	width:300px;
	margin: auto;	
}

.gradient-custom {
   width:500px;
	left: 0;
	bottom: 0;
}


#inputCounty{
	margin-bottom:20px;
	}
	
#eircodeInput{
	margin-bottom:20px;
}
	
#floatingTextarea2{
	margin-bottom:30px;
}

.form-select{
	margin-bottom:20px;
}

:root {
  scroll-behavior: auto !important;
}


h4{
	margin-bottom:10px;
	margin-left:10px;
}

.form_title {
	text-align: center;
}

.visaPayment{
	margin-left:180px;
}

.label{
	margin-left:20px;
	
}


.card{
	margin-bottom:20px;
}


.form_content{
	background-color: #f3f3f3;
	height:1150px;
	width:700px;
	margin: auto;	
	margin-top:20px;
	font-family: "Sofia", sans-serif;
}

