.content {
	margin-top: 50px;
}

.contact_us_banner img
{
	height: 200px;
}

.bottom_box {
	margin-top: 50px;
	border: 1px solid #c6d5e5;
	text-align: center;
	padding: 15px;
	height: 300px;
}
.bottom_box_title
{
	color: #6193cb;
	border-bottom: 1px solid #eee;
}
.bottom_box_container {
	margin-bottom: 50px;
}
.bottom_box_content {
	padding: 15px;
}

