.content {
  margin-bottom: 20px;
}

.coverPhoto {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#product-form {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  background: rgb(248, 249, 250);
  padding: 40px;
  border-radius: 10px;
}
#product-form button {
  height: 30px;
  outline: 0;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  cursor: pointer;
  border: none;
}
#product-form button:hover {
  background-color: #0f5bcc;
}
.select-container {
  margin-bottom: 20px;
}
.select-container label {
  padding-bottom: 10px;
  display: inline-block;
}
.select-container select {
  width: 100%;
  height: 30px;
  border: 1px solid #333;
  border-radius: 5px;
}
.select-container option {
  height: 20px;
  line-height: 20px;
}
.software-selection {
  margin-bottom: 20px;
  display: inline-block;
}
.page-title {
  text-align: center;
  border-bottom: 1px solid gray;
}

/* .software-selection {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  
  .submit-button {
    width: 180px;
    padding: 5px 20px;
    height: 40px;
    border-radius: 10px;
    border-color: red;
    background-color: honeydew;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
  }
  .submit-button:hover {
    border-color: brown;
    background-color: #f1915d;
  } */

.faqs-container {
  font-family: "Roboto", sans-serif;
  max-width: 700px;
  margin: 0 auto;
}

.faqs-container .questions-container {
  box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.3);
}

.faqs-container h2 {
  padding: 4px 32px;
  font-size: 28px;
}

.faqs-container .faq-header {
  display: flex;
  background: rgb(248, 249, 250);
  color: #000;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.faqs-container .faq-header .open,
.faqs-container .faq-header .close {
  position: absolute;
  right: 0;
  padding: 0 32px;
  font-size: 22px;
  font-weight: bold;
  transform: translateY(-8px);
  opacity: 0;
  transition: all 500ms;
}

.faqs-container .faq-header .open.active,
.faqs-container .faq-header .close.active {
  opacity: 1;
  transform: translateY(0);
}

.faqs-container .faq-header h3 {
  font-size: 20px;
  padding: 0 32px;
}

.faqs-container .content {
  padding: 0 32px;
  background: #fff;
  line-height: 2;
  max-height: 0;
  overflow: hidden;
  transition: all 500ms;
}

.faqs-container .content.active {
  max-height: 600px;
}

.question {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
